<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>City Data</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">


    </head>
    <body>
        <section>
            <h1>CITY DATA PAGE</h1>
        </section>
        <div class="map">
            MAP GOES HERE
        </div>
        <div id="series_chart" width="500px" class="line-graph">
            LINE GRAPH GOES HERE
        </div>
        <div class="bar-chart">
            BAR CHART GOES HERE
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="city-page.js"></script>
        <script src = "https://cdn.rawgit.com/ddalal2/data101/master/data/data.js"></script>

        </script>
    </body>
</html>
