<!doctype html>
<html>
<head>
    <title>Gente AI</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1>Gente AI</h1>
        <img src="img/bg.jpg" alt="Boston Profile Photo">
        <p>Login or Signup:</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
    </div>

    <button type="button" name="button"><a href="/boston">Boston</a> </button>
    <button type="button" name="button"><a href="#">City Page</a> </button>
    <button type="button" name="button"><a href="#">Data Sets</a> </button>

    <section>
        About
    </section>

    <section>
        Features
    </section>

    <section>
        Contact
    </section>

    <div class="apiDump">
        DATA    DATA    DATA    DATA
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>
