[Desktop Entry]
Encoding=UTF-8
Name=Link to Machine Learning for Humans, Part 5: Reinforcement Learning
Type=Link
URL=https://medium.com/machine-learning-for-humans/reinforcement-learning-6eacf258b265
Icon=text-html
