<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<!-- <meta name="description" content="Your description goes here"> -->
    	<!-- <meta name="keywords" content="one, two, three"> -->
    	<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Gentrification AI - Mitigation Tool</title>
		<!-- external CSS link -->
		<link rel="stylesheet" href="public/css/normalize.css">
		<link rel="stylesheet" href="public/css/style.css">
	</head>
	<body>

<!-- external JavaScript link -->
	<script src="public/js/main.js"></script>
	</body>
</html>
