[Desktop Entry]
Encoding=UTF-8
Name=Link to Boston Gentrification Maps and Data
Type=Link
URL=http://www.governing.com/gov-data/boston-gentrification-maps-demographic-data.html
Icon=text-html
Name[en_US]=Boston Gentrification Maps and Data
