[Desktop Entry]
Encoding=UTF-8
Name=Link to CDC - Healthy Places - Health Effects of Gentrification
Type=Link
URL=https://www.cdc.gov/healthyplaces/healthtopics/gentrification.htm
Icon=text-html
Name[en_US]=CDC - Healthy Places - Health Effects of Gentrification
