[Desktop Entry]
Encoding=UTF-8
Name=Link to Four Types Of Gentrification - Business Insider
Type=Link
URL=http://www.businessinsider.com/four-types-of-gentrification-2014-8
Icon=text-html
Name[en_US]=Four Types Of Gentrification - Business Insider
