[Desktop Entry]
Encoding=UTF-8
Name=Link to GENT STUDY 051816.pdf
Type=Link
URL=https://www.denvergov.org/content/dam/denvergov/Portals/690/Reports%20and%20Studies/GENT%20STUDY%20051816.pdf
Icon=application-pdf
Name[en_US]=GENT STUDY Mitigating Involuntary Displacement.pdf
