[Desktop Entry]
Encoding=UTF-8
Name=Link to Gentrification, urban displacement and affordable housing: Overview and research roundup - Journalist's Resource
Type=Link
URL=https://journalistsresource.org/studies/economics/real-estate/gentrification-urban-displacement-affordable-housing-overview-research-roundup
Icon=text-html
Name[en_US]=Gentrification, urban displacement and affordable housing: Overview and research roundup - Journalist's Resource
