[Desktop Entry]
Encoding=UTF-8
Name=Link to Introduction
Type=Link
URL=http://www.nssa.us/journals/2010-35-1/pdf/35-1%2001%20Aka.pdf
Icon=application-pdf
Name[en_US]=Gentrification and Socioeconomic Impacts of Neighborhood Integration and\nDiversification in Atlanta, Georgia
