[Desktop Entry]
Encoding=UTF-8
Name=Link to Los Angeles Gentrification Maps and Data
Type=Link
URL=http://www.governing.com/gov-data/los-angeles-gentrification-maps-demographic-data.html
Icon=text-html
Name[en_US]=Los Angeles Gentrification Maps and Data
