[Desktop Entry]
Encoding=UTF-8
Name=Link to PLANNING FOR GENTRIFICATION: A GEOGRAPHIC ANALYSIS OF GENTRIFICATION SUSCEPTIBILITY IN THE CITY OF ASHEVILLE, N.C.
Type=Link
URL=https://tigerprints.clemson.edu/cgi/viewcontent.cgi?referer=https://duckduckgo.com/&httpsredir=1&article=2428&context=all_theses
Icon=application-pdf
Name[en_US]=PLANNING FOR GENTRIFICATION: A GEOGRAPHIC ANALYSIS OF GENTRIFICATION SUSCEPTIBILITY IN THE CITY OF ASHEVILLE, N.C.
