[Desktop Entry]
Encoding=UTF-8
Name=Link to This Is What Happens After a Neighborhood Gets Gentrified - The Atlantic
Type=Link
URL=https://www.theatlantic.com/politics/archive/2015/09/this-is-what-happens-after-a-neighborhood-gets-gentrified/432813/
Icon=text-html
Name[en_US]=This Is What Happens After a Neighborhood Gets Gentrified - The Atlantic
