[Desktop Entry]
Encoding=UTF-8
Name=Link to What is driving urban gentrification? - The Economist explains
Type=Link
URL=https://www.economist.com/blogs/economist-explains/2013/09/economist-explains-5
Icon=text-html
Name[en_US]=What is driving urban gentrification? - The Economist explains
